<div class="main">
<h1>ツイート欄</h1>

<% @tweets.each do |twi| %>
    <p>
        <%= simple_format(twi.message) %>
        <time datetime="<%= twi.created_at %>">
        <%= twi.created_at %>
        <%= link_to '編集', "tweets/#{twi.id}/edit" %>
        <%= link_to '削除', "tweets/#{twi.id}", method: :delete %><br>
    </p>
<% end %>
</div>