<h1>新規ツイート</h1>
<p>
    <%= form_for @tweet , url: {action: :create} do |f| %>
    <%= f.label :message, 'ツイート' %>
    <%= f.text_area :message, :size =>"50x5" %>
    <%= f.submit 'ツイート' %>
<% end %>
</p>