@import "bootstrap";

.app-title{
    font-size: 20px;
    margin-top: 3%;
    background-color: #00acee;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

.prf1{
    height: 250px;
    background-color: #aaffff;
    margin-left: auto;
    margin-right: auto;
    width:90%
}

.prf2{
    height: 200px;                  
    width:  200px;                 
    background-color: #ffffff;     
    padding:  5px;               
    float:  left;                  
    position:  relative;           
    top: 110px;
    }

.con{
    padding-left: 5%;
    padding-right: 5%;
    display: flex;
    margin-top: 3%;
    background-color: #f5f5f5;
}

.side{
    width: 40%;
    padding-right: 5%;
    padding-top: 5%;
}

.main{
    width: 70%;
    background: #fafafa;
    margin: 20px auto;
}

