<!DOCTYPE html>
<html>
  <head>
    <title>Twitter</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
      <div class="app-title nav-bar navbar-expend-md navbar-light">
        <div class="navbar-brand">Twitter</div>
      </div>
      <div class="header">
        <%= render "hf/header" %>
      </div>
        <% if flash.notice.present? %>
          <div class="alert alert-success" role="alert">
            <%= flash.notice %>
            <% end %>
          </div>
        <div class="con">
            <div class="side">
            <%= render "hf/side" %>
            </div>
          <div class="main" ><%= yield %></div>
        </div>

  </body>
</html>
